body {
    background: black;

    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;

}

h1 {
    font-family: "Baskervville SC", serif;
    color: red;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    color: white;
    text-align: center;
}

a:link {
    color: red;
}
a:visited {
    color : darkred;
}